@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ESTILIZAÇÃO GERAL */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
body{
    background-color: #E8F4EB;
}
header{
    display: block;
    background-color: #5c494d;
    color: #E8F4EB;
    text-align: center;
    padding: 30px;
}
#movimentos{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
#movimentos p{
    font-size: 14px;
    margin: 10px 0 5px 0;
}
#contador{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5c494d6b;
    width: 80px;
    height: 70px;
    font-size: 40px;
}
/* ESTILIZAÇÃO GERAL */


/* ESTILIZAÇÃO TORRE */
#torres{
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    flex-flow: row wrap;
    position: absolute;
	bottom: 20px;
}
#torreBG{
    display: flex;
    width: 20px;
    height: 200px;
    margin: 120px auto 0px;
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
}

#torreBackground{
    display: flex;
    position: absolute;
    flex-flow: wrap;
    bottom: 20px;
    width: 99vw;
}

#torreUm, #torreDois, #torreTres{
    display: flex;
    height: 300px;
    width: 33vw;
    flex-direction: column-reverse;
    z-index: 2;
}

#pisoTorre{
    background-color: #5c494d;
    width: 100vw;
    height: 20px;
    position: absolute;
	bottom: 0;
    z-index: 1;
}
/* ESTILIZAÇÃO TORRE */


/* ESTILIZAÇÃO DISCOS */
#disc1, #disc2, #disc3, #disc4{
    border-radius: 50px;
    margin: 1px auto;
    height: 25px;
    z-index: 3;
}

#disc1{
    width: 15vw;
}
#disc2{
    width: 20vw;   
}
#disc3{
    width: 25vw;
}
#disc4{
    width: 30vw;
}
/* ESTILIZAÇÃO DISCOS */



@media only screen and (min-width: 768px) {
    #torres, #torreBackground{
        bottom: 30px;
    }
    
    #torreBG{
        width: 25px;
        height: 300px;
        margin: 0 auto;
    }    
    #pisoTorre{
        background-color: #5c494d;
        width: 100vw;
        height: 30px;
    }
    #movimentos{
        padding: 40px;
    }
    #movimentos p{
        font-size: 16px;
    }
    #contador{
        border: 2px solid #5c494d6b;
        width: 80px;
        height: 70px;
        font-size: 40px;
    }
    #disc1, #disc2, #disc3, #disc4{
        border-radius: 50px;
        margin: 0px auto 2px;
        height: 30px;
    }
    #disc1{
        width: 10vw;
    }
    #disc2{
        width: 15vw;   
    }
    #disc3{
        width: 20vw;
    }
    #disc4{
        width: 25vw;
    }